h1 {
    font-family: 'Open Sans', sans-serif; 
    color: #9E7DC9;
    text-shadow: 0 1px 10px rgba(0,0,0,0.65);
    margin-top: 0px;
    margin-right: 10px;
}
h1:hover {
    color: #fff;
    }

p {
    font-family: 'Open Sans', sans-serif; 
    color: #9E7DC9; 
    padding-left: 11px; 
    margin-top: 2px;
}

body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #171717;
    }
.title2 {
    font-family: 'Open Sans', sans-serif;
    color: #9E7DC9; 
    padding-left: 11px; 
    margin-bottom: 2px;
    text-shadow: 0 1px 10px rgba(0,0,0,0.65);
    }
a {
    color: #cea9eb; 
    text-decoration: none;
}
a:hover {
    color: #FFF;
}
.avatar {
    border-radius: 500px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.65);
    float: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.avatar:hover, .avatar:focus, .avatar:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 2px 15px rgba(0,0,0,0.65);
}
h1 {
    float: right;
}
.icon {
    background-color #171717;
    width: 72px;
    height: 72px;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 500px;
}
.icon:hover, .icon:focus, .icon:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 2px 15px rgba(0,0,0,0.65);
}

.madoka {
    float: right;
}

.topkek {background: transparent; border: transparent;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

}
.topkek:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

.pagetitle { display:inline-block; vertical-align:middle }

.title2 {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.title2:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #fff;
    }

.topkek2 {background: transparent; border: transparent;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position:absolute;
    bottom: 2.5%;
    right: 1.5%;
}

.pentakill {background: transparent; border: transparent;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.topkek2:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

.pentakill:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

.credits {
    position: absolute;
    bottom: 1%;
    font-size: 75%;
}

li {
    font-family: 'Open Sans', sans-serif; 
    color: #9E7DC9; 
}